---
import { Icon } from 'astro-icon/components';

const {
  info = await Astro.slots.render('info'),
  callToAction = await Astro.slots.render('callToAction'),
  callToAction2 = await Astro.slots.render('callToAction2'),
} = Astro.props;
---

<section class="relative bg-[url(/images/slide-bg-02.jpg)] bg-cover bg-center bg-no-repeat">
  <div class="absolute inset-0 bg-marron/75 sm:bg-transparent sm:bg-gradient-to-r sm:from-marron/20 sm:to-principal/25">
  </div>
  <div class="clasbanner relative mx-auto max-w-screen-xl py-32 lg:flex lg:h-5/6 lg:items-center">
    <div class="max-w-2xl text-center sm:text-left">
      {
        info && (
        <h1 class="text-3xl font-extrabold sm:text-5xl text-white letras">
          {info.title}
          <strong class="block font-extrabold text-principal"> {info.bold}</strong>
        </h1>
        <p class="mt-4 max-w-lg sm:text-xl sm:leading-relaxed text-white">{info.desc}</p>
        )
      }
      <div class="mt-8 flex flex-wrap gap-4 text-center">
        {
          callToAction && (
            <a
              href={callToAction?.href}
              class="block w-full rounded bg-principal px-12 py-3 text-xl text-marron shadow hover:bg-rose-700 focus:outline-none focus:ring active:bg-rose-500 sm:w-auto font-bold"
            >
              <>
                <Icon name={callToAction.icon} class="w-8 h-8 mr-1 -ml-1.5 rtl:-mr-1.5 rtl:ml-1 inline" />
              </>
              {callToAction?.text}
            </a>
          )
        }
        {
          callToAction2 && (
            <a
              href={callToAction2?.href}
              class="block w-full rounded bg-white px-12 py-3 text-xl font-medium text-rose-600 shadow hover:text-rose-700 focus:outline-none focus:ring active:text-rose-500 sm:w-auto"
            >
              <>
                <Icon name={callToAction2.icon} class="w-8 h-8 mr-1 -ml-1.5 rtl:-mr-1.5 rtl:ml-1 inline" />
              </>
              {callToAction2?.text}
            </a>
          )
        }
      </div>
    </div>
  </div>
</section>
